body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  background: #fff;
  word-break: break-all;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
            clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
  margin-bottom: 59px;
  background: #f3f7f9;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  background: #293449;
  margin-bottom: 46px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header .logo {
  position: relative;
  padding: 10px 55px 8px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #ee3643;
  text-transform: uppercase;
}

.main-header .logo::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #b52933;
}

.main-header .search-form {
  position: relative;
}

.search-form input {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding: 12px 0 12px 49px;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
}

.search-form input::-webkit-input-placeholder {
  color: #fff;
}

.search-form input:-ms-input-placeholder {
  color: #fff;
}

.search-form input::-ms-input-placeholder {
  color: #fff;
}

.search-form input::placeholder {
  color: #fff;
}

.search-form input:hover {
  background: #212a3a;
  border-color: #212a3a;
}

.search-form input:focus {
  background: #fff;
  border-color: #fff;
}

.search-form input:focus::-webkit-input-placeholder {
  color: #000;
}

.search-form input:focus:-ms-input-placeholder {
  color: #000;
}

.search-form input:focus::-ms-input-placeholder {
  color: #000;
}

.search-form input:focus::placeholder {
  color: #000;
}

.search-form input + label {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  background: url("../img/search-sprites.png") no-repeat 0 0;
}

.search-form input:hover + label {
  background-position: -30px 0;
}

.search-form input:focus + label {
  background-position: -60px 0;
}


.header-top a {
  min-width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.bookmarks {
  position: relative;
  padding: 12px 0 12px 44px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url("../img/bookmark-sprites.png") no-repeat 0 0;
}

.basket {
  position: relative;
  padding: 12px 0 12px 50px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background: url("../img/basket-sprites.png") no-repeat 0 0;
}

.bookmarks:hover,
.basket:hover,
.bookmarks:focus,
.basket:focus {
  background: #212a3a;
}

.not-empty {
  background: #ee3643;
}

.not-empty:hover,
.not-empty:focus {
  background: #ca2d38;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
  background-position: -30px 0;
}

.bookmarks:active,
.basket:active {
  background: #161d29;
}

.not-empty:active {
  background: #ba2632;
}

.bookmarks:active::before,
.basket:active::before {
  background-position: 0 0;
}


.bookmarks:active,
.basket:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-top a:last-child {
  padding: 13px 20px 12px;
  background: #63a63e;
}

.header-top a:last-child:hover,
.header-top a:last-child:focus {
  background: #5fbb2d;
}

.header-top a:last-child:active {
  background: #518534;
}

.header-top a:last-child:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-bottom h1,
.header-bottom p:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 42px;
  padding-left: 53px;
  padding-top: 2px;
  width: 247px;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.header-contacts span:nth-child(1) {
  position: relative;
  padding: 10px 52px 10px 71px;
  border: 2px solid #fff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.png") no-repeat 0 0;
}

.header-contacts span:nth-child(2) {
  font-size: 14px;
  padding: 3px 10px;
}

.user-menu,
.user-menu-entered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu-entered {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.user-menu a {
  display: block;
  margin-left: 10px;
  margin-bottom: 2px;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background: #fff;
  word-wrap: break-word;
}

.user-menu-entered li {
  margin-left: 18px;
  margin-right: 13px;
}

.user-menu-entered li:last-child {
  position: relative;
}

.user-menu-entered li:last-child::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -16px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
}

.user-menu-entered li:first-child {
  width: 100%;
  margin: 0;
  margin-bottom: 7px;
}

.user-menu-entered a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  font-style: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-menu-entered a:hover,
.user-menu-entered a:focus {
  color: #ee3643;
}

.user-menu-entered a:active {
  color: rgba(50, 66, 92, 0.3);
}

.user-menu-entered a::after {
  content: "";
  position: relative;
  top: -2px;
  width: 100%;
  height: 1px;
  background-color: #32425c;
}

.user-menu-entered a:hover::after,
.user-menu-entered a:focus::after {
  background-color: #ee3643;
}

.user-menu-entered a:active::after {
  background-color: rgba(50, 66, 92, 0.3);
}

.user-menu-entered .user-name {
  display: block;
  position: relative;
  width: 100%;
  padding: 12px 47px;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background: #fff;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.user-menu-entered .user-name:focus,
.user-menu-entered .user-name:hover {
  color: #000;
}

.user-menu-entered .user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu-entered .user-name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 14px;
  width: 20px;
  height: 17px;
}

.user-menu-entered .user-name::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 10px;
  width: 20px;
  height: 17px;
}


.user-menu-entered .user-name:hover::before,
.user-menu-entered .user-name:focus::before {
  background: url("../img/icon-user-sprites.png") no-repeat -30px 0;
}

.user-menu-entered .user-name::before,
.user-menu-entered .user-name:active::before {
  background: url("../img/icon-user-sprites.png") no-repeat 0 0;
}

.user-menu-entered .user-name:hover::after,
.user-menu-entered .user-name:focus::after {
  background: url("../img/icon-logout-sprites.png") no-repeat -30px 0;
}

.user-menu-entered .user-name::after,
.user-menu-entered .user-name:active::after {
  background: url("../img/icon-logout-sprites.png") no-repeat 0 0;
}

.user-menu .enter {
  position: relative;
  padding-left: 47px;
}

.user-menu .enter::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 20px;
  height: 17px;
  background: url("../img/enter-sprites.png") no-repeat 0 0;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu .enter:hover::before,
.user-menu .enter:focus::before {
  background-position: -30px 0;
}

.user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu .enter:active::before {
  background-position: 0 0;
}

.main-navigation {
  margin-bottom: 60px;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  display: block;
  padding: 21px 30px 17px 31px;
  border-bottom: 5px solid #293449;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  background: #32425c;
}

.main-navigation .first-item {
  padding-left: 52px;
}

.main-navigation .last-item {
  padding-right: 54px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  border-bottom-color:#293449;
  background: #293449;
}

.main-navigation a:active {
  border-bottom-color:#1d2739;
  background: #1d2739;
  color: rgba(255, 255, 255, 0.3);
}

.header-perforators {
  margin-bottom: 18px;
}

.promo-block .greed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.promo-block p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 21px 115px 21px 23px; 
  width: 300px;
}

.promo-block b {
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-block a {
  margin-left: 2px;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-block a:hover,
.promo-block a:focus {
  background: rgba(0, 0, 0, 0.2);
}

.promo-block a:active{
  background: rgba(0, 0, 0, 0.3);
}

.materials {
  background: #ffbf47;
}

.materials::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 42px;
  width: 44px;
  height: 65px;
  background: url("../img/materials-icon.png") no-repeat 0 0;
}

.new-flag::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.tools {
  background: #3bbce3;
}

.tools::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background: url("../img/tools-icon.png") no-repeat 0 0;
}

.tools a {
  padding: 10px 26px;
}

.equipment {
  background: #dc91d8;
}

.equipment::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background: url("../img/equipment-icon.png") no-repeat 0 0;
}

.equipment a {
  padding: 10px 30px;
}

.discount {
  background: #8ed78f;
  margin-left: 640px;
}

.discount::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background: url("../img/discount-icon.png") no-repeat 0 0;
}

.discount a {
  padding: 10px 22px;
}

.delivery {
  background: #ffc047;
  margin-left: 640px;
  margin-bottom: 0;
}

.promo-block .delivery {
  margin-bottom: 0;
}

.delivery::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background: url("../img/delivery-icon.png") no-repeat 0 0;
}

.delivery a {
  padding: 10px 35px;
}

.promo-block .materials-right-column {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.promo-block .manual-tools {
  position: relative;
  width: 620px;
  background: gray;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 25px 21px 25px;
  background: #ab9a85 url("../img/perforator-slide.jpg") no-repeat 0 0;
}

.slider-list li:first-child {
  background: #ab9a85 url("../img/drill-slide.jpg") no-repeat 0 0;
}

.slider-list li:last-child {
  display: none;
  background: #ab9a85 url("../img/perforator-slide.jpg") no-repeat 0 0;
}

.slider-list h4 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.slider-list p {
  margin: 0;
  margin-bottom: 123px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 1px;
}

.slider-list a {
  margin: 0;
  padding: 10px 48px;
  background: #ee3643;
}

.slider-list a:hover,
.slider-list a:focus {
  background: #ca2c37;
}

.slider-list a:active{
  background: #ba2732;
}

.manual-tools .prev {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  font-size: 0;
  background: transparent url("../img/prev-button.png") no-repeat;
  border: transparent;
  cursor: pointer;
}

.manual-tools .next {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  font-size: 0;
  background: transparent url("../img/next-button.png") no-repeat;
  border: transparent;
  cursor: pointer;
}

.goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 21px;
}

.goods-header,
.producer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  padding: 25px 24px 26px 29px;
  background: #f9f5f0;
}

.goods-header h2,
.producer-header h2 {
  min-width: 375px;
  margin: 0;
  margin-top: 4px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-header a,
.producer-header a {
  min-width: 255px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 55px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.goods ul,
.perforator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", sans-serif;
}

.perforator-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 52px;
}

.goods li,
.perforator-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  position: relative;
  -webkit-box-shadow: inset 0 0 0 1px #ebebeb;
          box-shadow: inset 0 0 0 1px #ebebeb;
}

.perforator-list li {
  margin-bottom: 20px;
}

.goods li:hover,
.perforator-list li:hover {
  -webkit-box-shadow: 0 0 25px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 0 25px 10px rgba(41, 52, 73, 0.5);
}

/* .mask {
  display: none;
} */

.mask a {
  text-transform: uppercase;
  font-family: 'Cuprum', 'PT Sans', sans-serif;

}

.mask .buy-button {
  position: relative;
  margin-bottom: 10px;
  padding: 11px 45px 6px 49px; 
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 0 0 #367315;
          box-shadow: 0 3px 0 0 #367315;
}

.mask .buy-button {
  color: transparent;
  background: transparent;
  -webkit-box-shadow: 0 3px 0 0 transparent;
          box-shadow: 0 3px 0 0 transparent;
}

.goods-item:hover .buy-button,
.perforator-item:hover .buy-button {
  color: #fff;
  background: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367315;
          box-shadow: 0 3px 0 0 #367315;
}

.mask .buy-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: url("../img/basket-sprites.png") no-repeat 0 0;
}

.mask .buy-button:hover,
.mask .buy-button:focus {
  color: #fff;
  background: #5fbb2d;
}

.mask .buy-button:hover::before,
.mask .buy-button:focus::before {
  background-position: -30px 0;
}

.mask .buy-button:active {
  background: #518534;
  -webkit-box-shadow: 0 3px 0 0 #518534;
          box-shadow: 0 3px 0 0 #518534;
}

.mask .buy-button:active::before {
  background-position: -30px 0;
}

.mask .bookmark-button {
  position: relative;
  padding: 8px 29px 6px 33px; 
  font-size: 14px;
  line-height: 18px;
  color: transparent;
  text-decoration: none;
  background: transparent;
  border: 3px solid transparent;
  border-radius: 2px;
}

.goods-item:hover .bookmark-button,
.perforator-item:hover .bookmark-button {
  color: #32425c;
  background: #fff;
  border: 3px solid #63a63e;
}

.mask .bookmark-button:hover,
.mask .bookmark-button:focus {
  color: #32425c;
  background: #fff;
  border-color: #32425c;
}

.mask .bookmark-button:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.goods-item:hover .goods-image,
.perforator-item:hover .goods-image {
  display: none;
}

.goods-item .mask,
.perforator-item .mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  margin-bottom: 52px;
  padding-top: 45px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.goods h3,
.perforator-list h3 {
  margin: 0 30px 12px;
  max-width: 170px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.goods-item {
  position: relative;
}

.goods-item:nth-child(4) h3,
.third-column h3 {
  margin-bottom: 41px;
}

.goods-item:nth-child(1) .goods-image {
  position: absolute;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  top: 6px;
  left: 17px;
  margin-top: 6px;
  margin-bottom: 2px;
}

.goods-item:nth-child(2) .goods-image,
.first-column .goods-image  {
  position: absolute;
  top: 29px;
  left: 40px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.goods-item:nth-child(3) .goods-image,
.second-column .goods-image {
  position: absolute;
  top: 22px;
  left: 27px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.goods-item:nth-child(4) .goods-image,
.third-column .goods-image {
  position: absolute;
  top: 29px;
  left: 32px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}


.goods p,
.perforator-item p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}

.goods .goods-button,
.perforator-item .goods-button {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0;
  margin-left: 43px;
  margin-right: 32px;
  margin-bottom: 20px;
  padding: 10px 24px 10px 35px;
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.goods .goods-button:hover,
.perforator-item .goods-button:hover {
  outline-offset: -10px;
}

.goods .goods-button::before,
.perforator-item .goods-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: #ee3643;
  border-right: 0;
}

.perforator-list .last-line {
  margin-bottom: 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.pagination-list a {
  padding: 9px 14px 10px 15px;
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-list a:hover,
.pagination-list a:focus {
  border-color: #bdc6ca;
}

.pagination-list a:active {
  border-color: #ee3643;
}

.pagination-list .pagination-current {
  background: #ee3643;
  border-color: #ee3643;
  color: #fff;
}

.pagination-list .pagination-current,
.pagination-list .pagination-current:hover,
.pagination-list .pagination-current:focus,
.pagination-list .pagination-current:active {
  background: #ee3643;
  border-color: #ee3643;
  color: #fff;
}


.pagination-list .pagination-next {
  padding: 9px 31px 10px;
}

.producer {
  margin-bottom: 65px;
}

.producer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 24px 26px 24px;
  background: #f9f5f0;
}

.producer-header h2 {
  margin: 0;
  margin-top: 6px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.producer-header a {
  padding: 10px 70px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.producer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.producer-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0 0 0 1px #ebebeb;
          box-shadow: inset 0 0 0 1px #ebebeb;
}

.producer-list a:hover,
.producer-list a:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producer-list a:active {
  opacity: 0.3;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producer-item:nth-child(1) img {
  margin-top: 53px;
}

.producer-item:nth-child(2) img {
  margin-top: 50px;
}

.producer-item:nth-child(3) img {
  margin-top: 48px;
}

.producer-item:nth-child(4) img {
  margin-top: 21px;
}

.producer-item:nth-child(5) img {
  margin-top: 58px;
}

.producer-item:nth-child(6) img {
  margin-top: 35px;
}

.producer-item:nth-child(7) img {
  margin-top: 23px;
}

.producer-item:nth-child(8) img {
  margin-top: 34px;
}

.services {
  margin-bottom: 78px;
  background-color: #f4f8fa;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 67px;
}

.services h2 {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: normal;
  line-height: 27px;
  text-transform: uppercase;
}

.services p {
  margin: 0;
  margin-bottom: 70px;
  width: 400px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.servise-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
}

.servise-slides li:nth-child(3),
.servise-slides li:nth-child(2) {
  display: none;
}

.servise-slides h3 {
  position: relative;
  z-index: 2;
  max-width: 380px;
  margin: 0;
  margin-top: -3px;
  margin-bottom: 25px;
  color: #32425c;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.servise-slides p {
  position: relative;
  z-index: 2;
  margin: 0;
  width: 380px;
  color: #000;
  font-size: 13px;
  line-height: 24px;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 102px;
}

.slides-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.slides-button::before {
  content: "";
  position: absolute;
  top: -37px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/services-line.png");
  background-position: 0 -10px;
  background-repeat: no-repeat;

}

.services-button {
  padding: 14px 21px 15px;
  min-width: 240px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  background: #32425c;
  border: none;
  border-top: 1px solid #40526a;
  border-bottom: 1px solid #27364d;
  text-align: left;
  cursor: pointer;
}

.services-button:hover,
.services-button:focus {
  background: #293449;
  color: #fff;
  border-top: 1px solid #40526a;
  border-bottom: 1px solid #27364d;
}

.button-current {
  background: #fff;
  border-color: #fff;
  color: #32425c;
}

.slide-delivery::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  width: 468px;
  height: 261px;
  background: url("../img/slide-delivery.png") no-repeat 0 0;
  z-index: 1;
}

.slide-warrant::before {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 389px;
  height: 283px;
  background: url("../img/slide-warrant.png") no-repeat 0 0;
}

.slide-credit::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -10px;
  width: 465px;
  height: 285px;
  background: url("../img/slide-credit.png") no-repeat 0 0;
}

.slide-credit p {
  margin-bottom: 26px; 
}

.slide-credit button {
  padding: 11px 44px 10px;
  border: none;
  border-radius: 2px;
  background: #ff5357;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.about-us-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 86px;
}

.about-us {
  width: 540px;
}

.about-us h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.about-us p {
  width: 540px;
  margin: 0;
  margin-bottom: 24px;
  font-size: 13px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 24px;
  word-break: normal;
  word-wrap: break-word;
}

.about-us p:last-of-type {
  width: 400px;
  margin-bottom: 22px;
}

.about-us .delivery-companies {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.delivery-companies li {
  position: relative;
  padding-left: 36px;
  margin-bottom: 20px;
}

.delivery-companies li::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.red-button {
  padding: 10px 55px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.about-us .about-us-button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 41px;
}


.contacts {
  width: 300px;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.contacts p {
  width: 185px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 13px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 24px;
  word-break: normal;
  word-wrap: break-word;
}

.contacts .map {
  display: block;
  margin-bottom: 33px;
}

.contacts .contacts-button {
  display: block;
  padding: 10px 10px 10px 10px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.perforators-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.perforators-grid h1 {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px 28px;
  text-transform: uppercase;
  background-color: #f2f6f8;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  list-style: none;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  padding-left: 13px;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 5px;
  left: -1px;
  background: url("../img/icon-home.png") 0 0 no-repeat;
}

.breadcrumbs li {
  padding-left: 41px;
  position: relative;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 5px;
  left: 16px;
  background: url("../img/icon-right-small.png") 0 0 no-repeat;
}

.breadcrumbs a {
  font-size: 13px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 18px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.left-column {
  width: 220px;
}

.filter form {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter h2 {
  margin: 0;
  margin-bottom: 12px;
  padding: 9px 19px 11px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: #f7f3ec;
}

.filter fieldset {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter fieldset:last-of-type {
  margin-bottom: 56px;
  border: none;
}

.filter legend {
  margin: 0;
  margin-bottom: 13px;
  font-size: 17px;
  font-weight: bold;
  font-style: inherit;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter li {
  margin-bottom: 16px;
}

.filter li:last-child {
  margin-bottom: 19px;
}

.filter label {
  position: relative;
  padding-left: 35px;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-checkbox+label::before {
  position: absolute;
  content: "";
  left: 0;
  height: 19px;
  width: 19px;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
}

.filter-checkbox:checked+label::before {
  position: absolute;
  content: "";
  left: 0;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-sprite.png") no-repeat 0 0;
  border: none;
}

.filter-checkbox:checked:hover+label::before,
.filter-checkbox:checked:focus+label::before {
  background-position: -30px 0;
}

.filter-checkbox:hover+label::before,
.filter-checkbox:focus+label::before {
  border-color: #b5b5b5;
}

.filter-radio+label::before {
  position: absolute;
  content: "";
  top: -3px;
  left: 0;
  height: 19px;
  width: 19px;
  border: 3px solid #c5c5c5;
  border-radius: 50%;
}

.filter-radio:focus+label::before,
.filter-checkbox:focus+label::before {
  outline: #3bbce3;
  outline-width: 2px;
  outline-style: solid;
}

.filter-radio:checked+label::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 8px;
  height: 9px;
  width: 9px;
  background:#c5c5c5;
  border-radius: 50%;
}

.filter-radio:checked:hover+label::before,
.filter-radio:checked:focus+label::before,
.filter-radio:hover+label::before,
.filter-radio:focus+label::before  {
  border-color: #b5b5b5;
}

.filter-radio:checked:hover+label::after,
.filter-radio:checked:focus+label::after,
.filter-radio:hover+label::after,
.filter-radio:focus+label::after {
  background:#b5b5b5;
}

.filter button {
  padding: 6px 38px 7px;
  background: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  font: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  margin-bottom: 60px;
  font-family: "PT Sans", Arial, sans-serif;
}

.assortment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 9px 19px 11px;
  background: #f7f3ec;
}

.assortment h2 {
  margin: 0;
  margin-right: 140px;
  font: inherit;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

.assortment ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.assortment li {
  line-height: 0;
}

.assortment-price {
  margin-right: 71px;
}

.assortment-type {
  margin-right: 65px;
}

.assortment-function {
  margin-right: 46px;
}

.assortment a {
  font: inherit;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.assortment a:hover,
.assortment a:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.assortment-current a {
  color: #ee3643;
  border: none;
}

.assortment-direction {
  position: relative;
}

.assortment-up a::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  border: 6px solid #ee3643;
  border-bottom-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-width: 0;
}

.assortment-down a::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 32px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-top-width: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-width: 0;
}

.assortment-up a:hover::before,
.assortment-up a:focus::before {
  border-bottom-color: rgba(0, 0, 0, 1);
}

.assortment-up a:focus::before {
  outline-color: #3bbce3;
  outline-style: solid;
  outline-width: 2px;
}

.assortment-down a:hover::before,
.assortment-down a:focus::before {
  border-top-color: rgba(0, 0, 0, 1);
}

.assortment-down a:focus::before {
  outline-color: #3bbce3;
  outline-style: solid;
  outline-width: 2px;
}

.assortment-direction .current {
  border-color: #ee3643;
}

.perforator-gray-background {
  background: #f2f6f8;
}

.perforators-particular {
  padding-top: 65px;
  padding-bottom: 68px;
}

.perforators-particular h2 {
  margin: 0;
  margin-bottom: 26px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.perforators-particular p {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: #000;
  word-wrap: break-word;
  word-break: normal;
}

.footer-lighter {
  background: #32425c;
}

.footer-darker {
  background: #293449;
}

.footer-lighter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-lighter-top,
.footer-lighter-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-lighter-top {
  margin-bottom: 27px;
}

.footer-lighter-bottom {
  margin-bottom: 50px;
}

.footer-logo {
  max-width: 220px;
  padding: 18px 42px 15px;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  background: #ee3643;
  border-bottom: 5px solid #b52933;
  text-transform: uppercase;
}

.footer-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-main-menu li {
  margin-top: 38px;
  margin-left: 59px;
}

.footer-main-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  text-decoration: none;
}

.footer-main-menu a::after {
  content: "";
  position: relative;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background: transparent;
}

.footer-main-menu a:hover::after,
.footer-main-menu a:focus::after {
  background: #fff;
}

.footer-main-menu a:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer-main-menu a:active::after {
  background: transparent;
}



.footer-lighter-bottom p {
  width: 330px;
  margin: 0;
  padding-left: 3px;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-offer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 560px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-offer-menu li {
  margin-left: 60px;
}

.footer-offer-menu li:first-child {
  margin-left: 0;
}

.footer-offer-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
  text-decoration: none;
}

.footer-offer-menu a::after {
  content: "";
  position: relative;
  bottom: 5px;
  width: 100%;
  height: 1px;
  background: transparent;
}

.footer-offer-menu a:hover::after,
.footer-offer-menu a:focus::after {
  background: #ffda96;
}

.footer-offer-menu a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-offer-menu a:active::after {
  background: transparent;
}

.footer-darker .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 31px;
}

.footer-darker p {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0;
  margin-top: 3px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer-darker p:first-of-type {
  width: 230px;
  margin-right: 155px;
}

.footer-darker ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 150px;
  margin: 0;
  margin-right: 105px;
  padding: 0;
  list-style: none;
}

.footer-darker li {
  margin-left: 5px;
}

.social-list a {
  display: block;
  position: relative;
  width: 41px;
  height: 41px;
  background: #212a3a;
  border-radius: 50%;
}

.social-list a:hover,
.social-list a:focus {
  background: #ee3643;
}

.footer-darker img {
  position: absolute;
}

.vkontakte img {
  top: 13px;
  left: 8px;
}

.facebook img {
  top: 10px;
  left: 14px;
}

.instagram img {
  top: 10px;
  left: 9px;
}

.footer-darker p:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 140px;
  margin-right: 20px;
}

.footer-darker p:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 140px;
  padding-left: 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.email,
.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #ffd180;
  text-decoration: none;
}

.email::after,
.developer::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 100%;
  height: 1px;
  background: transparent;
}

.email:hover::after,
.email:focus::after,
.developer:hover::after,
.developer:focus::after {
  background: #ffd180;
}

.email:active,
.developer:active {
  color: #ee3643;
  background: transparent;
}

.email:active::after,
.developer:active::after {
  background: transparent;
}

.modal-feedback {
  position: fixed;
  /* display: block; */
  display: none;
  width: 620px;
  top: 56px;
  left: 50%;
  margin-left: -310px;
  z-index: 3;
  border-top: 7px solid #ff5357;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 20px 40px 0 #000;
          box-shadow: 0 20px 40px 0 #000;
}

.feedback-form .white-background,
.feedback-form .gray-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.feedback-form .white-background {
  margin-bottom: 37px;
  padding: 47px 80px 0;
}

.feedback-form .gray-background {
  padding: 37px 80px;
  background: #f4f4f4;
}

.feedback-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 220px;
  margin: 0;
  margin-bottom: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-form-item:last-of-type {
  width: 100%;
  margin-bottom: 0;
}

.feedback-form-item label {
  margin-bottom: 10px;
}

.feedback-form-item input,
.feedback-form-item textarea {
  padding: 8px 14px 11px;
  border: 2px solid #dee3e4;
  border-radius: 2px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.feedback-form-item textarea {
 height: 114px;
 -webkit-box-sizing: border-box;
         box-sizing: border-box;
}

.gray-background button {
  width: 100%;
  border: none;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 23px;
  height: 23px;
  background: none;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 5px;
  background: #ee3643;
  border-radius: 2px;
}

.close-button::before {
  top: 10px;
  left: -2px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-button::after {
  top: 10px;
  left: -2px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-map {
  position: fixed;
  /* display: block; */
  display: none;
  width: 940px;
  height: 446px;
  top: 56px;
  left: 50%;
  margin-left: -470px;
  z-index: 3;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.modal-map img {
  position: absolute;
  top: -14px;
  left: -15px;
  width: 970px;
  height: 476px;
}

.modal-map iframe {
  position: relative;
  border: none;
  z-index: 3;
}