body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  background: #fff;
  word-break: break-all;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
            clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
  margin-bottom: 59px;
  background: #f3f7f9;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  background: #293449;
  margin-bottom: 46px;
}

.header-top .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-header .logo {
  flex-shrink: 0;
  min-width: auto;
  position: relative;
  padding: 10px 55px 8px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #ee3643;
  text-transform: uppercase;
}

.main-header .logo::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 220px;
  height: 5px;
  background: #b52933;
}

.main-header .search-form {
  position: relative;
}

.search-form input {
  align-self: stretch;
  box-sizing: border-box;
  width: 270px;
  padding: 12px 0 12px 49px;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
}

.search-form input::placeholder {
  color: #fff;
}

.search-form input:hover {
  background: #212a3a;
  border-color: #212a3a;
}

.search-form input:focus {
  background: #fff;
  border-color: #fff;
}

.search-form input:focus::placeholder {
  color: #000;
}

.search-form input + label {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 17px;
  height: 17px;
  background: url("../img/search-sprites.png") no-repeat 0 0;
}

.search-form input:hover + label {
  background-position: -30px 0;
}

.search-form input:focus + label {
  background-position: -60px 0;
}


.header-top a {
  min-width: 150px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.bookmarks {
  position: relative;
  padding: 12px 0 12px 44px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url("../img/bookmark-sprites.png") no-repeat 0 0;
}

.basket {
  position: relative;
  padding: 12px 0 12px 50px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background: url("../img/basket-sprites.png") no-repeat 0 0;
}

.bookmarks:hover,
.basket:hover,
.bookmarks:focus,
.basket:focus {
  background: #212a3a;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.basket:hover::before,
.basket:focus::before {
  background-position: -30px 0;
}

.bookmarks:active,
.basket:active {
  background: #161d29;
}

.bookmarks:active::before,
.basket:active::before {
  background-position: 0 0;
}


.bookmarks:active,
.basket:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-top a:last-child {
  padding: 13px 20px 12px;
  background: #63a63e;
}

.header-top a:last-child:hover,
.header-top a:last-child:focus {
  background: #5fbb2d;
}

.header-top a:last-child:active {
  background: #518534;
}

.header-top a:last-child:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-bottom h1 {
  display: flex;
  margin: 0;
  margin-bottom: 42px;
  padding-left: 53px;
  padding-top: 2px;
  width: 247px;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.header-contacts span:nth-child(1) {
  position: relative;
  padding: 10px 52px 10px 71px;
  border: 2px solid #fff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-contacts span:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.png") no-repeat 0 0;
}

.header-contacts span:nth-child(2) {
  font-size: 14px;
  padding: 3px 10px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu a {
  display: block;
  margin-left: 10px;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  background: #fff;
}

.user-menu .enter {
  position: relative;
  padding-left: 47px;
}

.user-menu .enter::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 20px;
  height: 17px;
  background: url("../img/enter-sprites.png") no-repeat 0 0;
}

.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}

.user-menu .enter:hover::before,
.user-menu .enter:focus::before {
  background-position: -30px 0;
}

.user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu .enter:active::before {
  background-position: 0 0;
}

.main-navigation {
  margin-bottom: 60px;
}

.main-navigation ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a {
  display: block;
  padding: 21px 30px 17px 31px;
  border-bottom: 5px solid #293449;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  background: #32425c;
}

.main-navigation .first-item {
  padding-left: 52px;
}

.main-navigation .last-item {
  padding-right: 54px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  border-bottom-color:#293449;
  background: #293449;
}

.main-navigation a:active {
  border-bottom-color:#1d2739;
  background: #1d2739;
  color: rgba(255, 255, 255, 0.3);
}

.promo-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.promo-block p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 21px 115px 21px 23px; 
  width: 300px;
}

.promo-block b {
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-block a {
  margin-left: 2px;
  padding: 10px 24px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-block a:hover,
.promo-block a:focus {
  background: rgba(0, 0, 0, 0.2);
}

.promo-block a:active{
  background: rgba(0, 0, 0, 0.3);
}

.materials {
  background: #ffbf47;
}

.materials::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 42px;
  width: 44px;
  height: 65px;
  background: url("../img/materials-icon.png") no-repeat 0 0;
}

.new-flag::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.tools {
  background: #3bbce3;
}

.tools::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background: url("../img/tools-icon.png") no-repeat 0 0;
}

.tools a {
  padding: 10px 26px;
}

.equipment {
  background: #dc91d8;
}

.equipment::before {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background: url("../img/equipment-icon.png") no-repeat 0 0;
}

.equipment a {
  padding: 10px 30px;
}

.discount {
  background: #8ed78f;
  margin-left: 640px;
}

.discount::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background: url("../img/discount-icon.png") no-repeat 0 0;
}

.discount a {
  padding: 10px 22px;
}

.delivery {
  background: #ffc047;
  margin-left: 640px;
  margin-bottom: 0;
}

.promo-block .delivery {
  margin-bottom: 0;
}

.delivery::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background: url("../img/delivery-icon.png") no-repeat 0 0;
}

.delivery a {
  padding: 10px 35px;
}

.promo-block .right-column {
  order: 1;
}

.promo-block .manual-tools {
  position: relative;
  width: 620px;
  background: gray;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 25px 21px 25px;
  background: #ab9a85 url("../img/perforator-slide.jpg") no-repeat 0 0;
}

.slider-list li:first-child {
  background: #ab9a85 url("../img/drill-slide.jpg") no-repeat 0 0;
}

.slider-list li:last-child {
  display: none;
  background: #ab9a85 url("../img/perforator-slide.jpg") no-repeat 0 0;
}

.slider-list h4 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.slider-list p {
  margin: 0;
  margin-bottom: 123px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 1px;
}

.slider-list a {
  margin: 0;
  padding: 10px 48px;
  background: #ee3643;
}

.slider-list a:hover,
.slider-list a:focus {
  background: #ca2c37;
}

.slider-list a:active{
  background: #ba2732;
}

.manual-tools .prev {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 22px;
  height: 40px;
  font-size: 0;
  background: transparent url("../img/prev-button.png") no-repeat;
  border: transparent;
  cursor: pointer;
}

.manual-tools .next {
  position: absolute;
  top: 114px;
  right: 20px;
  width: 22px;
  height: 40px;
  font-size: 0;
  background: transparent url("../img/next-button.png") no-repeat;
  border: transparent;
  cursor: pointer;
}

.goods {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.goods-header,
.producer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 24px 26px 29px;
  background: #f9f5f0;
}

.goods-header h2,
.producer-header h2 {
  margin: 0;
  margin-top: 4px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-header a,
.producer-header a {
  padding: 10px 55px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.goods ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "PT Sans", sans-serif;
}

.goods li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  position: relative;
  box-shadow: inset 0 0 0 1px #ebebeb;
}

.goods li:hover {
  box-shadow: 0 0 25px 10px rgba(41, 52, 73, 0.5);
}


.mask {
  display: none;
}

.mask a {
  text-transform: uppercase;
  font-family: 'Cuprum', 'PT Sans', sans-serif;

}

.mask .buy-button {
  position: relative;
  margin-bottom: 10px;
  padding: 11px 45px 6px 49px; 
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  background: #63a63e;
  border-radius: 2px;
  box-shadow: 0 3px 0 0 #367315;
}

.mask .buy-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: url("../img/basket-sprites.png") no-repeat 0 0;
}

.mask .buy-button:hover,
.mask .buy-button:focus {
  background: #5fbb2d;
}

.mask .buy-button:hover::before,
.mask .buy-button:focus::before {
  background-position: -30px 0;
}

.mask .buy-button:active {
  background: #518534;
  box-shadow: 0 3px 0 0 #518534;
}

.mask .buy-button:active::before {
  background-position: -30px 0;
}

.mask .bookmark-button {
  padding: 8px 29px 6px 33px; 
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-decoration: none;
  background: #fff;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.mask .bookmark-button:hover,
.mask .bookmark-button:focus {
  border-color: #32425c;
}

.mask .bookmark-button:active {
  color: rgba(50, 66, 92, 0.3);
  border-color: rgba(50, 66, 92, 0.3);
}

.goods-item:hover img {
  display: none;
}

.goods-item:hover .goods-image {
  display: none;
}

.goods-item:hover .mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  margin-bottom: 52px;
  padding-top: 45px;
  order: -1;
}

.goods h3 {
  margin: 0 30px 12px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.goods-item:nth-child(4) h3 {
  margin-bottom: 41px;
}

.goods-item:nth-child(1) .goods-image {
  order: -1;
  margin-top: 6px;
  margin-bottom: 2px;
}

.goods-item:nth-child(2) .goods-image {
  margin-top: 29px;
  position: relative;
  left: -7px;
  margin-bottom: 31px;
  order: -1;
}

.goods-item:nth-child(3) .goods-image {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  left: -11px;
  order: -1;
}

.goods-item:nth-child(4) .goods-image {
  margin-top: 29px;
  margin-bottom: 31px;
  position: relative;
  left: -15px;
  order: -1;
}


.goods p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
}

.goods .goods-button {
  position: relative;
  align-self: flex-start;
  margin: 0;
  margin-left: 43px;
  margin-right: 32px;
  margin-bottom: 20px;
  padding: 10px 40px 10px 35px;
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.goods .goods-button::before {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border: 19px solid #fff;
  border-left-color: transparent;
}

.producer {
  margin-bottom: 65px;
}

.producer-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px 24px 26px 24px;
  background: #f9f5f0;
}

.producer-header h2 {
  margin: 0;
  margin-top: 6px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.producer-header a {
  padding: 10px 70px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #ee3643;
  border-radius: 2px;
}

.producer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.producer-list a {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 220px;
  min-height: 145px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 0 1px #ebebeb;
}

.producer-list a:hover,
.producer-list a:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producer-list a:active {
  opacity: 0.3;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producer-item:nth-child(1) img {
  margin-top: 53px;
}

.producer-item:nth-child(2) img {
  margin-top: 50px;
}

.producer-item:nth-child(3) img {
  margin-top: 48px;
}

.producer-item:nth-child(4) img {
  margin-top: 21px;
}

.producer-item:nth-child(5) img {
  margin-top: 58px;
}

.producer-item:nth-child(6) img {
  margin-top: 35px;
}

.producer-item:nth-child(7) img {
  margin-top: 23px;
}

.producer-item:nth-child(8) img {
  margin-top: 34px;
}

.services {
  background-color: #f4f8fa;
}

.services .container {
  display: flex;
  flex-direction: column;
  padding-top: 67px;
}

.services h2 {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: normal;
  line-height: 27px;
  text-transform: uppercase;
}

.services p {
  margin: 0;
  margin-bottom: 70px;
  width: 400px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.servise-slides {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  padding: 0;
  width: 620px;
  list-style: none;
}

.servise-slides li:nth-child(3),
.servise-slides li:nth-child(2) {
  display: none;
}

.servise-slides h3 {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 25px;
  color: #32425c;
  font-size: 36px;
  font-weight: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.servise-slides p {
  margin: 0;
  width: 380px;
  color: #000;
  font-size: 13px;
  line-height: 24px;
}

.slides {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}

.slides-button {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slides-button::before {
  content: "";
  position: absolute;
  top: -37px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url("../img/services-line.png");
  background-position: 0 -10px;
  background-repeat: no-repeat;

}

.services-button {
  padding: 14px 21px 15px;
  min-width: 240px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
  background: #32425c;
  border: none;
  border-top: 1px solid #40526a;
  border-bottom: 1px solid #27364d;
  text-align: left;
  cursor: pointer;
}

.services-button:hover,
.services-button:focus {
  background: #293449;
  color: #fff;
  border-top: 1px solid #40526a;
  border-bottom: 1px solid #27364d;
}

.button-current {
  background: #fff;
  border-color: #fff;
  color: #32425c;
}

.slide-delivery::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 0;
  width: 468px;
  height: 261px;
  background: url("../img/slide-delivery.png") no-repeat 0 0;
}

.slide-warrant::before {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 389px;
  height: 283px;
  background: url("../img/slide-warrant.png") no-repeat 0 0;
}

.slide-credit::before {
  content: "";
  position: absolute;
  top: -2px;
  right: -10px;
  width: 465px;
  height: 285px;
  background: url("../img/slide-credit.png") no-repeat 0 0;
}

.slide-credit p {
  margin-bottom: 26px; 
}

.slide-credit button {
  padding: 11px 44px 10px;
  border: none;
  border-radius: 2px;
  background: #ff5357;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}